<div class="row">
    <!-- .row -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <div class="panel panel-info tile panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Today Sales</h4>
            </div>
            <div class="panel-body pt0">
                <div class="progressbar-stats-1">
                    <div class="stats">
                        <i class="l-ecommerce-cart-content"></i>
                        <div class="stats-number" data-from="0" data-to="76">0</div>
                    </div>
                    <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                        <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="63"></div>
                    </div>
                    <div class="comparison">
                        <p class="mb0"><i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> 10% up from last month</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <div class="panel panel-success tile panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Today Visitors</h4>
            </div>
            <div class="panel-body pt0">
                <div class="progressbar-stats-1">
                    <div class="stats">
                        <i class="l-basic-geolocalize-05"></i>
                        <div class="stats-number" data-from="0" data-to="2547">0</div>
                    </div>
                    <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                        <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="86"></div>
                    </div>
                    <div class="comparison">
                        <p class="mb0"><i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> 2% up from last month</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <div class="panel panel-danger tile panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Support Questions</h4>
            </div>
            <div class="panel-body pt0">
                <div class="progressbar-stats-1">
                    <div class="stats">
                        <i class="l-basic-life-buoy"></i>
                        <div class="stats-number" data-from="0" data-to="78">0</div>
                    </div>
                    <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                        <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="35"></div>
                    </div>
                    <div class="comparison">
                        <p class="mb0"><i class="fa fa-arrow-circle-o-down s20 mr5 pull-left"></i> 2% down from last month</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <div class="panel panel-default tile panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Profit this month</h4>
            </div>
            <div class="panel-body pt0">
                <div class="progressbar-stats-1 dark">
                    <div class="stats">
                        <i class="l-banknote"></i>
                        <div class="stats-number money" data-from="0" data-to="24568">0</div>
                    </div>
                    <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                        <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="55"></div>
                    </div>
                    <div class="comparison">
                        <p class="mb0"><i class="fa fa-arrow-circle-o-down s20 mr5 pull-left"></i> 1% down from last month</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- / .col-md-3 -->
</div>
