<div class="row">
    <div class="vertical-center">
        <div class="vertical-align">
            <video id="video" ng-model="vm.id" controls preload="auto" class="video-js vjs-default-skin" width="640" height="360" data-setup='{"poster":"/img/spinner.gif"}'>
                <source src="{{model.data.url.browser}}" type="video/mp4"/>
            </video>
        </div>
    </div>
</div>

<style>
.vjs-paused .vjs-big-play-button { display: none; }
</style>

{{model.data.url.loaded()}}
