@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

        // background: linear-gradient(to right,
        //     rgba(255, 255, 255, 0.1) 0%,
        //     rgba(255, 255, 255, 0.1) 60%,
        //     transparent 60%),
        //         linear-gradient(to bottom, #003458 0%,#001727 100%);

@mixin vertical-gradient($start: #000, $stop: #FFF, $middle: 50) {
    background: linear-gradient(to right, $start 0%, $stop #{$middle}%, transparent #{$middle}%), linear-gradient(to bottom, #FFFFFF 0%,#FFFFFF 100%);
}

@mixin progress-vertical-gradient($start: #000, $stop: #FFF) {
    @for $i from 0 through 100 {
        .progress-#{$i} {
            @include vertical-gradient($start, $stop, $i);
        }
    }
}

@include progress-vertical-gradient(#cecece, #cecece);

$base-font-size: 15px;
$primary: #3775d0;
$primary-inactive: #b8bdc4;
$dark-text: #323d4d;
$footer-bg: #f9f9f9;

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;


.epg-item {
    border-left: 1px solid #cacace;
    border-right: 1px solid #cacace;
    border-bottom: 1px solid #cacace;
    &:first-child {
        border-top: 1px solid #cacace;
    }
}

.epg-container {
    border-top: 1px solid #cacace;
    border-bottom: 1px solid #cacace;
}

/* app css stylesheet */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $dark-text;
    font-size: 80%;
    @include breakpoint($bp-small) {
        font-size: 100%;
    }
    @include breakpoint($bp-medium) {
        font-size: 120%;
    }
}

h4 {
    font-size: 80%;
    @include breakpoint($bp-small) {
        font-size: 100%;
    }
    @include breakpoint($bp-medium) {
        font-size: 120%;
    }
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
