.progress-0 {
  background: linear-gradient(to right, #cecece 0%, #cecece 0%, transparent 0%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-1 {
  background: linear-gradient(to right, #cecece 0%, #cecece 1%, transparent 1%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-2 {
  background: linear-gradient(to right, #cecece 0%, #cecece 2%, transparent 2%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-3 {
  background: linear-gradient(to right, #cecece 0%, #cecece 3%, transparent 3%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-4 {
  background: linear-gradient(to right, #cecece 0%, #cecece 4%, transparent 4%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-5 {
  background: linear-gradient(to right, #cecece 0%, #cecece 5%, transparent 5%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-6 {
  background: linear-gradient(to right, #cecece 0%, #cecece 6%, transparent 6%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-7 {
  background: linear-gradient(to right, #cecece 0%, #cecece 7%, transparent 7%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-8 {
  background: linear-gradient(to right, #cecece 0%, #cecece 8%, transparent 8%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-9 {
  background: linear-gradient(to right, #cecece 0%, #cecece 9%, transparent 9%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-10 {
  background: linear-gradient(to right, #cecece 0%, #cecece 10%, transparent 10%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-11 {
  background: linear-gradient(to right, #cecece 0%, #cecece 11%, transparent 11%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-12 {
  background: linear-gradient(to right, #cecece 0%, #cecece 12%, transparent 12%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-13 {
  background: linear-gradient(to right, #cecece 0%, #cecece 13%, transparent 13%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-14 {
  background: linear-gradient(to right, #cecece 0%, #cecece 14%, transparent 14%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-15 {
  background: linear-gradient(to right, #cecece 0%, #cecece 15%, transparent 15%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-16 {
  background: linear-gradient(to right, #cecece 0%, #cecece 16%, transparent 16%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-17 {
  background: linear-gradient(to right, #cecece 0%, #cecece 17%, transparent 17%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-18 {
  background: linear-gradient(to right, #cecece 0%, #cecece 18%, transparent 18%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-19 {
  background: linear-gradient(to right, #cecece 0%, #cecece 19%, transparent 19%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-20 {
  background: linear-gradient(to right, #cecece 0%, #cecece 20%, transparent 20%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-21 {
  background: linear-gradient(to right, #cecece 0%, #cecece 21%, transparent 21%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-22 {
  background: linear-gradient(to right, #cecece 0%, #cecece 22%, transparent 22%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-23 {
  background: linear-gradient(to right, #cecece 0%, #cecece 23%, transparent 23%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-24 {
  background: linear-gradient(to right, #cecece 0%, #cecece 24%, transparent 24%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-25 {
  background: linear-gradient(to right, #cecece 0%, #cecece 25%, transparent 25%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-26 {
  background: linear-gradient(to right, #cecece 0%, #cecece 26%, transparent 26%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-27 {
  background: linear-gradient(to right, #cecece 0%, #cecece 27%, transparent 27%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-28 {
  background: linear-gradient(to right, #cecece 0%, #cecece 28%, transparent 28%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-29 {
  background: linear-gradient(to right, #cecece 0%, #cecece 29%, transparent 29%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-30 {
  background: linear-gradient(to right, #cecece 0%, #cecece 30%, transparent 30%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-31 {
  background: linear-gradient(to right, #cecece 0%, #cecece 31%, transparent 31%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-32 {
  background: linear-gradient(to right, #cecece 0%, #cecece 32%, transparent 32%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-33 {
  background: linear-gradient(to right, #cecece 0%, #cecece 33%, transparent 33%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-34 {
  background: linear-gradient(to right, #cecece 0%, #cecece 34%, transparent 34%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-35 {
  background: linear-gradient(to right, #cecece 0%, #cecece 35%, transparent 35%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-36 {
  background: linear-gradient(to right, #cecece 0%, #cecece 36%, transparent 36%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-37 {
  background: linear-gradient(to right, #cecece 0%, #cecece 37%, transparent 37%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-38 {
  background: linear-gradient(to right, #cecece 0%, #cecece 38%, transparent 38%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-39 {
  background: linear-gradient(to right, #cecece 0%, #cecece 39%, transparent 39%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-40 {
  background: linear-gradient(to right, #cecece 0%, #cecece 40%, transparent 40%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-41 {
  background: linear-gradient(to right, #cecece 0%, #cecece 41%, transparent 41%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-42 {
  background: linear-gradient(to right, #cecece 0%, #cecece 42%, transparent 42%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-43 {
  background: linear-gradient(to right, #cecece 0%, #cecece 43%, transparent 43%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-44 {
  background: linear-gradient(to right, #cecece 0%, #cecece 44%, transparent 44%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-45 {
  background: linear-gradient(to right, #cecece 0%, #cecece 45%, transparent 45%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-46 {
  background: linear-gradient(to right, #cecece 0%, #cecece 46%, transparent 46%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-47 {
  background: linear-gradient(to right, #cecece 0%, #cecece 47%, transparent 47%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-48 {
  background: linear-gradient(to right, #cecece 0%, #cecece 48%, transparent 48%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-49 {
  background: linear-gradient(to right, #cecece 0%, #cecece 49%, transparent 49%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-50 {
  background: linear-gradient(to right, #cecece 0%, #cecece 50%, transparent 50%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-51 {
  background: linear-gradient(to right, #cecece 0%, #cecece 51%, transparent 51%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-52 {
  background: linear-gradient(to right, #cecece 0%, #cecece 52%, transparent 52%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-53 {
  background: linear-gradient(to right, #cecece 0%, #cecece 53%, transparent 53%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-54 {
  background: linear-gradient(to right, #cecece 0%, #cecece 54%, transparent 54%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-55 {
  background: linear-gradient(to right, #cecece 0%, #cecece 55%, transparent 55%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-56 {
  background: linear-gradient(to right, #cecece 0%, #cecece 56%, transparent 56%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-57 {
  background: linear-gradient(to right, #cecece 0%, #cecece 57%, transparent 57%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-58 {
  background: linear-gradient(to right, #cecece 0%, #cecece 58%, transparent 58%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-59 {
  background: linear-gradient(to right, #cecece 0%, #cecece 59%, transparent 59%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-60 {
  background: linear-gradient(to right, #cecece 0%, #cecece 60%, transparent 60%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-61 {
  background: linear-gradient(to right, #cecece 0%, #cecece 61%, transparent 61%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-62 {
  background: linear-gradient(to right, #cecece 0%, #cecece 62%, transparent 62%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-63 {
  background: linear-gradient(to right, #cecece 0%, #cecece 63%, transparent 63%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-64 {
  background: linear-gradient(to right, #cecece 0%, #cecece 64%, transparent 64%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-65 {
  background: linear-gradient(to right, #cecece 0%, #cecece 65%, transparent 65%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-66 {
  background: linear-gradient(to right, #cecece 0%, #cecece 66%, transparent 66%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-67 {
  background: linear-gradient(to right, #cecece 0%, #cecece 67%, transparent 67%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-68 {
  background: linear-gradient(to right, #cecece 0%, #cecece 68%, transparent 68%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-69 {
  background: linear-gradient(to right, #cecece 0%, #cecece 69%, transparent 69%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-70 {
  background: linear-gradient(to right, #cecece 0%, #cecece 70%, transparent 70%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-71 {
  background: linear-gradient(to right, #cecece 0%, #cecece 71%, transparent 71%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-72 {
  background: linear-gradient(to right, #cecece 0%, #cecece 72%, transparent 72%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-73 {
  background: linear-gradient(to right, #cecece 0%, #cecece 73%, transparent 73%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-74 {
  background: linear-gradient(to right, #cecece 0%, #cecece 74%, transparent 74%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-75 {
  background: linear-gradient(to right, #cecece 0%, #cecece 75%, transparent 75%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-76 {
  background: linear-gradient(to right, #cecece 0%, #cecece 76%, transparent 76%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-77 {
  background: linear-gradient(to right, #cecece 0%, #cecece 77%, transparent 77%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-78 {
  background: linear-gradient(to right, #cecece 0%, #cecece 78%, transparent 78%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-79 {
  background: linear-gradient(to right, #cecece 0%, #cecece 79%, transparent 79%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-80 {
  background: linear-gradient(to right, #cecece 0%, #cecece 80%, transparent 80%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-81 {
  background: linear-gradient(to right, #cecece 0%, #cecece 81%, transparent 81%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-82 {
  background: linear-gradient(to right, #cecece 0%, #cecece 82%, transparent 82%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-83 {
  background: linear-gradient(to right, #cecece 0%, #cecece 83%, transparent 83%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-84 {
  background: linear-gradient(to right, #cecece 0%, #cecece 84%, transparent 84%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-85 {
  background: linear-gradient(to right, #cecece 0%, #cecece 85%, transparent 85%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-86 {
  background: linear-gradient(to right, #cecece 0%, #cecece 86%, transparent 86%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-87 {
  background: linear-gradient(to right, #cecece 0%, #cecece 87%, transparent 87%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-88 {
  background: linear-gradient(to right, #cecece 0%, #cecece 88%, transparent 88%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-89 {
  background: linear-gradient(to right, #cecece 0%, #cecece 89%, transparent 89%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-90 {
  background: linear-gradient(to right, #cecece 0%, #cecece 90%, transparent 90%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-91 {
  background: linear-gradient(to right, #cecece 0%, #cecece 91%, transparent 91%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-92 {
  background: linear-gradient(to right, #cecece 0%, #cecece 92%, transparent 92%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-93 {
  background: linear-gradient(to right, #cecece 0%, #cecece 93%, transparent 93%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-94 {
  background: linear-gradient(to right, #cecece 0%, #cecece 94%, transparent 94%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-95 {
  background: linear-gradient(to right, #cecece 0%, #cecece 95%, transparent 95%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-96 {
  background: linear-gradient(to right, #cecece 0%, #cecece 96%, transparent 96%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-97 {
  background: linear-gradient(to right, #cecece 0%, #cecece 97%, transparent 97%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-98 {
  background: linear-gradient(to right, #cecece 0%, #cecece 98%, transparent 98%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-99 {
  background: linear-gradient(to right, #cecece 0%, #cecece 99%, transparent 99%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.progress-100 {
  background: linear-gradient(to right, #cecece 0%, #cecece 100%, transparent 100%), linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100%); }

.epg-item {
  border-left: 1px solid #cacace;
  border-right: 1px solid #cacace;
  border-bottom: 1px solid #cacace; }
  .epg-item:first-child {
    border-top: 1px solid #cacace; }

.epg-container {
  border-top: 1px solid #cacace;
  border-bottom: 1px solid #cacace; }

/* app css stylesheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #323d4d;
  font-size: 80%; }
  @media (min-width: 768px) {
    body {
      font-size: 100%; } }
  @media (min-width: 992px) {
    body {
      font-size: 120%; } }

h4 {
  font-size: 80%; }
  @media (min-width: 768px) {
    h4 {
      font-size: 100%; } }
  @media (min-width: 992px) {
    h4 {
      font-size: 120%; } }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 60px; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #555; }

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px; }

/* MARKETING CONTENT
-------------------------------------------------- */
/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px; }

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px; }

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */ }

.featurette {
  padding-top: 120px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */ }

.featurette-image {
  margin-top: -120px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */ }

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px; }

.featurette-image.pull-right {
  margin-left: 40px; }

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0; }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */ }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px; }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4; } }

/*# sourceMappingURL=app.css.map */