/* -----------------------------------------
   Custom.css - put your own changes here
----------------------------------------- */
.header-stats img {
    width: 30px;
}

.learn {
    height:700px;
}

.learn h1 {
    font-weight: 900;
    font-size: 60px;
}

.learn .chromecast {
    height:500px;
    background-image: url(/img/learn/chromecast.jpg);
    background-size: cover;
    color: white;
}

.learn .smart-tv {
    height:500px;
    background-image: url(/img/learn/smart-tv.jpg);
    background-size: cover;
}
.learn .smart-tv span {
    border-color: #333 !important;
}



.hovereffect {
    margin: 0 0 0 -10px;
    cursor: default;
    padding: 0;
    /*padding: 0 10px;*/
}

.hovereffect:hover,
.hovereffect:hover + .hovereffect {
    /*border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 1px 0;*/
}

.hovereffect:hover {
    /*border-left: 1px solid green;*/
    /*margin: 0 0 0 10px;*/
}

.hovereffect:hover + .hovereffect {
    /*border-right: 1px solid green;*/
    /*margin: 0;*/
}

.hovereffect .hoverobject {
    display: block;
    position: relative;
    max-width: none;

    /*width: calc(100% + 60px);*/
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    margin: 0 10px;
}

.hovereffect:hover .hoverobject,
.hovereffect:hover + .hovereffect .hoverobject {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0,0,0);
}

.hovereffect:hover .hoverobject {
    /*margin: 0;*/
}

.hovereffect:not(:last-child):hover .hoverobject {
    transform: translate3d(20px,0,0);
    /*transform: scale(1.2);*/
}

.hovereffect:hover + .hovereffect .hoverobject {
    transform: translate3d(-20px,0,0);
    /*transform: scale(1.2);*/
}

.hovereffect .hoverobject img {
  height: 30px;
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}


.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.hovereffect .overlay {
    padding: 0 1em;
}

.hovereffect .overlay img {
    clear: left;
    float:left;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  /*border: 1px solid #fff;*/
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

