<div class="panel panel-default toggle panelMove panelClose panelRefresh">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title">Next</h4>
    </div>
    <div class="panel-body">
        <ul class="timeline timeline-icons">
            <li ng-repeat="item in items | orderBy:'startTime'">
                <p>
                    <i class="timeline-till-start">{{item.tillMinutes}} min</i>
                    <a href="#">{{item.title}}</a> on <a href="#">{{item.channel.name}}</a>
                    <span class="timeline-icon"><i class="fa {{item.itemType}}"></i></span>
                    <span class="timeline-date">
                        {{item.startTime | date:"HH:mm"}} - {{item.endTime | date:"HH:mm"}}
                    </span>
                </p>
            </li>
        </ul>
        <a href="" ng-click="load()" class="btn btn-default timeline-load-more-btn">
            <i class="fa fa-refresh"></i>
            Load more
        </a>
    </div>
</div>
