<ul class="list-inline">
<li ng-repeat="(key, group) in channels" class="hovereffect" style="padding:0">
    <div title="{{key}}" class="hoverobject col-sm-2">
        <div class="overlay">

                    <img ng-src="{{group[0].icon}}" class="img-fluid">

                    <img ng-src="{{group[1].icon}}">

            </div>
        </div>
    </div>
</li>
</ul>
