<div class="tabs mb20">
    <ul id="myTab" class="nav nav-tabs">
        <li ng-repeat="(key, item) in items">
            <a href="" ng-click="loadDescription(key)" data-toggle="tab">{{channels[key].name}}</a>
        </li>
    </ul>
    <div id="myTabContent2" class="tab-content">
        <div class="tab-pane fade active in" id="home1">
            <h4>{{programme.namePl}}</h4>
            <p>
                {{programme.description}}
            </p>
        </div>
    </div>
</div>
