<div class="panel-heading">
    <h4 class="panel-title">
        {{emission.endTime | date:"HH:mm"}} - {{emission.endTime | date:"HH:mm"}}
    </h4>
</div>
<div class="panel-body pt0">
    <div class="progressbar-stats-1">
        <div class="stats">
            <!-- <i class="l-music-play-button"></i> -->
            <div class="stats-number text-ellipsis" data-from="0" data-to="76">
                {{emission.channelName}}
            </div>
        </div>
        <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
            <div
                class="progress-bar progress-bar-white"
                role="progressbar"
                aria-valuenow="{{progress}}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: {{emission.progress}}%;">
            </div>
        </div>
        <div class="comparison">
            <p class="mb0">
                <i class="fa fa-film s20 mr5 pull-left"></i>
                <span class="text-ellipsis">{{emission.title}}</span>
            </p>
        </div>
    </div>
</div>
