<video id="video" ng-model="vm.id"  controls preload="none" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264" data-setup='{}'>


    <!-- <source src="http://10.0.10.107:81/app.dash/live/live.mpd" type="application/dash+xml"/> -->
    <source src="http://10.0.10.107:9013/client?content-type=video%2Fmp4&uri=http%3A%2F%2F10.0.10.107%3A9090" type="video/mp4"/>
    <!-- <source src="http://10.0.10.107:9013/rtmp/http" type="video/mp4"/> -->
    <!-- <source src="http://10.0.10.107:81/app.stream/temp/dash-cast/out.mp4" type="video/mp4"/> -->
    <!-- <source src="http://live.unified-streaming.com/loop/loop.isml/loop.mpd?format=mp4&session_id=25020" type="application/dash+xml"/> -->
    <!-- <source ng-src="http://dash.edgesuite.net/envivio/dashpr/clear/Manifest.mpd" type='application/dash+xml'> -->
</video>



{{vm.url.mp4}}

{{vm.loaded()}}
