<div class="side-nav">
    <ul nav-items items="navItems" class="nav sub"></ul>
    <ul class="nav">

        <li>
            <a ng-href="#subscription">
                <i class="l-basic-anticlockwise"></i>
                <span class="txt">Subscription</span>
                <span class="label">Free</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="l-basic-lightbulb"></i>
                <span class="txt">How To</span>
            </a>
            <ul class="sub">
                <li>
                    <a href="#"><span class="txt">TV</span></a>
                    <ul class="sub">
                        <li>
                            <a href="403.html"><span class="txt">HD TV</span></a>
                        </li>
                        <li>
                            <a href="404.html"><span class="txt">Smart TV</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="lock-screen.html"><span class="txt">Tablet</span></a>
                </li>
                <li>
                    <a href="register.html"><span class="txt">Phone</span></a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">
                <i class="l-basic-gear"></i>
                <span class="txt">My Account</span>
            </a>
            <ul class="sub">
                <li>
                    <a ng-href="#profile">
                        <span class="txt">Profile</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>
<!-- / side-nav -->
{{init()}}

