<div class="user-info clearfix">
    <img src="{{profile.avatar}}" alt="avatar">
    <span class="name">{{profile.userName}}</span>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs"><i class="l-basic-gear"></i>
        </button>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">settings <span class="caret"></span>
        </button>
        <ul class="dropdown-menu right" role="menu">
            <li><a href="profile.html"><i class="fa fa-edit"></i>Edit profile</a>
            </li>
            <li><a href="#"><i class="fa fa-money"></i>Windraws</a>
            </li>
            <li><a href="#"><i class="fa fa-credit-card"></i>Deposits</a>
            </li>
            <li class="divider"></li>
            <li><a href="login.html"><i class="fa fa-power-off"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>
