

<div class="col-lg-6 col-md-6 sortable-layout">
    <description-tab channels="channels" schedules="schedules"></description-tab>
</div>
<!-- col-lg-6 end here -->
<div class="col-lg-6 col-md-6 sortable-layout">
    <timeline-panel channels="channels" schedules="schedules"></timeline-panel>
</div>
