<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div now-block channel="channels[0]" schedule="schedules[0]" ng-click="watch(0)" class="panel panel-info tile panelClose panelRefresh">
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div now-block channel="channels[1]" schedule="schedules[1]" ng-click="watch(1)" class="panel panel-success tile panelClose panelRefresh">
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div now-block channel="channels[2]" schedule="schedules[2]" ng-click="watch(2)" class="panel panel-danger tile panelClose panelRefresh">
    </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div now-block channel="channels[3]" schedule="schedules[3]" ng-click="watch(3)" class="dark panel panel-default tile panelClose panelRefresh">
    </div>
</div>

