<form class="form-horizontal group-border stripped" method="post">
    <div class="form-group">
        <label class="col-lg-2 col-md-3 control-label" for="first_name">First Name</label>
        <div class="col-lg-10 col-md-9">
            <input ng-model="vm.cc.first_name" type="text" class="form-control" data-recurly="first_name" name="first_name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 col-md-3 control-label" for="last_name">Last Name</label>
        <div class="col-lg-10 col-md-9">
            <input ng-model="vm.cc.last_name" type="text" class="form-control" data-recurly="last_name" name="last_name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 col-md-3 control-label" for="number">Credit Card Number</label>
        <div class="col-lg-10 col-md-9">
            <input ng-model="vm.cc.number" type="text" class="form-control" data-recurly="number" name="number">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 col-md-3 control-label" for="month">Expiration</label>
        <div class="col-lg-10 col-md-9">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <input ng-model="vm.cc.month" type="text" class="form-control" data-recurly="month" name="month" placeholder="Month">
                </div>
                <div class="col-lg-4 col-md-4">
                    <input ng-model="vm.cc.year" type="text" class="form-control" data-recurly="year" name="year" placeholder="Year">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 col-md-3 control-label" for="cvv">CVV</label>
        <div class="col-lg-10 col-md-9">
            <input ng-model="vm.cc.cvv" type="text" class="form-control" data-recurly="cvv" name="cvv">
        </div>
    </div>
    <input ng-click="vm.pay()" class="btn-submit" id="subscribe" type="submit" value="Subscribe" />
</form>
