/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.progresss {
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 4px;
    height: auto;
    background-image: linear-gradient(to bottom,
        #04C7C9 0px,
        #04C7C9 55px,
        #04C7C9 55px,
        #04C7C9 100%
    );
    background-position: -100px 100px;
    background-repeat:   no-repeat;
        background: linear-gradient(to right,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.1) 60%,
            transparent 60%),
                linear-gradient(to bottom, #003458 0%,#001727 100%);

}
.progress-bar-custom {
    background: rgba(66, 139, 202, 1);}
