<div class="row">
    <div class="col-xs-3">
        <ng-transclude></ng-transclude>
    </div>
    <div class="col-xs-9">
        <div class="row">
            <div class="epg-item" ng-repeat="program in programs">
                <div class="progress-{{program.progress}}">
                    <div class="col-md-{{program.grid.column}}">
                        {{program.startTime | date:"HH:mm"}} ({{program.grid.column}})
                        {{program.name_pl}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    "0": {
      "id": "24",
      "name_pl": "Wykidajło",
      "name_en": "Road House",
      "startTime": "2015-08-19 20:50:00",
      "endTime": "2015-08-19 23:10:00",
      "type": "Film fabularny",
      "subtype": "Film sensacyjny",
      "duration": "140",
      "country_of_origin": "USA",
      "production_year": "1989",
      "episode": "0",
      "description": "Należący do Tilghmana bar \"Double Deuce\" to miejsce częstych bijatyk i awantur. Największy problem sprawiają właścicielowi członkowie gangu, którym przewodniczy Brad Wesley. Tilghman wynajmuje Jamesa Daltona do utrzymania porządku w lokalu. Jego działania szybko zdobywają uznanie klientów i przynoszą mu popularność w miasteczku. Z każdą chwilą zbliża się nieuchronna konfrontacja z Wesleyem.",
      "director": "Rowdy Herrington",
      "scenario": "David Lee Henry, Hilary Henkin",
      "music": "Michael Kamen",
      "cast": "Patrick Swayze, Kelly Lynch, Sam Elliott, Ben Gazzara, Kevin Tighe, Marshall R. Teague, Julie Michaels",
      "thumb": "http://m.telemagazyn.pl/i/150/k/r/1/ed/e1/55b98ea9db3d8.jpg",
      "url": "http://www.telemagazyn.pl/film/93383/wykidajlo"
    },
-->
