<div>
    <span ng-if="metadata.parentId">
        <a href="" ng-click="load(metadata.parentId)">up</a>
    </span>
    <b>The list:</b>
    <ul>
        <li ng-repeat="item in items">

            <epg-container ng-attr-channel={{item.title}}>
        </li>

    </ul>
</div>

