.st-blurred-region {
    -webkit-filter: blur(22px);
    -moz-filter: blur(22px);
    -o-filter: blur(22px);
    -ms-filter: blur(22px);
    filter: blur(22px);
}

.st-blurred-region-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	z-index:10000;
	-webkit-overflow-scrolling: touch;
}

.st-blurred-region-close {
	border:0px;
	background-color:rgba(0,0,0,0);
	font-size:40px;
    text-align: right;
    padding: 0 0.5%;
	color:#333;
}

.st-blurred-region-close > span {
    cursor: pointer;
}


.st-blurred-region-close > span:hover{
	color:black;
}

