
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content login-page">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login</h4>
        </div>

        <div class="container login-container">

            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
            </div>

            <div class="login-panel panel panel-default plain animated bounceIn">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <img id="logo" src="img/logo-dark.png" alt="Dynamic logo">
                    </h4>
                </div>
                <div class="panel-body">
                    <form name="form" ng-submit="vm.login()" class="form-horizontal mt0" role="form">
                        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input ng-model="vm.username" type="text" name="email" id="email" class="form-control" value="admin@dynamic.com" placeholder="Your email ..." required>
                                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input ng-model="vm.password" type="password" name="password" id="password" class="form-control" value="somepass" placeholder="Your password" required>
                                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                </div>
                                <span class="help-block text-right">
                                    <a href="" ng-click="vm.showResetPassword()">Forgot password ?</a>
                                </span>
                            </div>
                        </div>
                        <div class="form-group mb0">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                                <div class="checkbox-custom">
                                    <input type="checkbox" name="remember" id="remember" value="option">
                                    <label for="remember">Remember me ?</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4 mb25">
                                <button type="submit" ng-click="vm.login()" class="btn btn-default pull-right">
                                    Login
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="seperator">
                        <strong>or</strong>
                        <hr>
                    </div>
                    <div class="social-buttons text-center mt5 mb5">
                        <a href="#" class="btn btn-primary btn-alt mr10">Sign in with <i class="fa fa-facebook s20 ml5 mr0"></i></a>
                        <a href="#" class="btn btn-danger btn-alt ml10">Sign in with <i class="fa fa-google-plus s20 ml5 mr0"></i></a>
                    </div>
                </div>
                <div class="panel-footer gray-lighter-bg bt">
                    <h4 class="text-center"><strong>Don`t have an account ?</strong>
                    </h4>
                    <p class="text-center"><a href="register.html" class="btn btn-primary">Create account</a>
                    </p>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- End login container -->
        <div class="modal-footer">
            <p class="text-center">&copy;2014 Copyright Dynamic admin. All right reserved !!!</p>
        </div>
    </div>
  </div>
</div>
