
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content login-page">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Register</h4>
            <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
        </div>

        <div class="container login-container">
            <div class="login-panel panel panel-default plain animated bounceIn">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <img id="logo" src="img/logo-dark.png" alt="Dynamic logo">
                    </h4>
                </div>
                <div class="panel-body">
                    <form ng-submit="vm.register()" class="form-horizontal mt0" id="register-form" role="form">
                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input ng-model="vm.user.email" type="email" name="email" id="email" class="form-control" placeholder="Type your email ...">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input ng-model="vm.user.password" type="password" name="password" id="password" class="form-control" placeholder="Your password">
                                </div>
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Repeat password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb0">
                            <div class="col-md-12">
                                <button type="submit" ng-click="vm.register()" class="btn btn-default">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer gray-lighter-bg bt">
                    <h4 class="text-center"><strong>Already have an account ?</strong>
                    </h4>
                    <p class="text-center"><a href="login.html" class="btn btn-primary">Sign in</a>
                    </p>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- End login container -->
        <div class="modal-footer">
            <p class="text-center">&copy;2014 Copyright Dynamic admin. All right reserved !!!</p>
        </div>
    </div>
  </div>
</div>
