
<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content login-page">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Login</h4>
        </div>

        <div class="container login-container">
            <div class="login-panel panel panel-default plain animated bounceIn">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <img id="logo" src="img/logo-dark.png" alt="Dynamic logo">
                    </h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal mt0" id="register-form" role="form">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="input-group input-icon">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input ng-model="vm.username" type="text" name="email" id="email" class="form-control" placeholder="Type your email ...">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb0">
                            <div class="col-md-12">
                                <button ng-click="vm.reset()" class="btn btn-default" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer gray-lighter-bg bt">
                    <h4 class="text-center">
                        <strong>Lost your password ?</strong>
                    </h4>
                    <p class="text-center">You will received new password in your email.</p>
                </div>
            </div>
            <!-- End .panel -->
        </div>

        <div class="modal-footer">
            <p class="text-center">&copy;2014 Copyright Dynamic admin. All right reserved !!!</p>
        </div>
    </div>
  </div>
</div>
