
<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>Subscription</h2>
        <span class="txt">Profile details for your users.</span>
    </div>
    <div class="header-stats">
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
        </div>
    </div>
</div>
<!-- Start .row -->
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- col-lg-4 start here -->
        <div class="panel panel-default plain">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title bb">Subscription details</h4>
            </div>
            <div class="panel-body">
                <div class="row profile">
                    <!-- Start .row -->
                    <div class="col-md-4">
                        <div class="profile-avatar">
                            <img src="img/avatars/128.jpg" alt="Avatar">
                            <p class="mt10">
                                Online
                                <span class="device">
                <i class="fa fa-mobile s16"></i>
            </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile-name">
                            <h3>Jonathan Smith</h3>
                            <p class="job-title mb0"><i class="fa fa-building"></i> SEO in Neocom Solutions</p>
                            <p class="balance">
                                Balance: <span>146$</span>
                            </p>
                            <a ng-href="#subscription/top-up" class="btn btn-primary btn-large mr10"> <i class="fa fa-envelope"></i> Top Up</a>
                            <a ng-href="#payment/one-off" class="btn btn-primary btn-large mr10"> <i class="fa fa-envelope"></i> Pay</a>
                            <a href="#" class="btn btn-default btn-alt btn-large"> Send PM</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="contact-info bt">
                            <div class="row">
                                <!-- Start .row -->
                                <div class="col-md-4">
                                    <dl class="mt20">
                                        <dt class="text-muted">Phone</dt>
                                        <dd>(367)-045-347</dd>
                                        <dt class="text-muted">Mobile</dt>
                                        <dd>(368)-234-112</dd>
                                        <dt class="text-muted">Fax</dt>
                                        <dd>(362)-666-347</dd>
                                    </dl>
                                </div>
                                <div class="col-md-8">
                                    <dl class="mt20">
                                        <dt class="text-muted">Email</dt>
                                        <dd>jonathansmith@gmail.com</dd>
                                        <dt class="text-muted">Skype</dt>
                                        <dd>jonatahn_smith</dd>
                                    </dl>
                                </div>
                            </div>
                            <!-- End .row -->
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="profile-info bt">
                            <h5 class="text-muted">Profile info</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores minus consequuntur corporis optio accusantium perspiciatis veritatis temporibus nostrum, saepe omnis aperiam illum odit, quos, cum eveniet
                                possimus illo. Saepe sunt porro culpa repellat dolorem aperiam, quae nihil, maxime ducimus officiis voluptate. Libero obcaecati laboriosam reprehenderit adipisci harum ad, veniam explicabo.</p>
                        </div>
                        <div class="profile-tags">
                            <h5 class="text-muted">Tags</h5>
                            <form role="form" class="form-horizontal mb15">
                                <input type="text" value="CEO, Worker" data-role="tagsinput">
                            </form>
                        </div>
                        <div class="social bt">
                            <h5 class="text-muted">Social</h5>
                            <dl class="dl-horizontal mb0">
                                <dt>
                                    <span class="text-muted">
                    <i class="fa fa-facebook-square"></i>
                    Facebook:
                </span>
                                </dt>
                                <dd><a href="#">facebook.com/1231</a>
                                </dd>
                                <dt>
                                    <span class="text-muted">
                    <i class="fa fa-twitter"></i>
                    Twitter:
                </span>
                                </dt>
                                <dd><a href="#">twitter.com/profile/3234.html</a>
                                </dd>
                                <dt>
                                    <span class="text-muted">
                    <i class="fa fa-google-plus"></i>
                    Google+:
                </span>
                                </dt>
                                <dd><a href="#">plus.google.com/jonathansmith</a>
                                </dd>
                                <dt>
                                    <span class="text-muted">
                    <i class="fa fa-linkedin"></i>
                    LinkedIn:
                </span>
                                </dt>
                                <dd><a href="#">linkd.in/123123</a>
                                </dd>
                                <dt>
                                    <span class="text-muted">
                    <i class="fa fa-pinterest"></i>
                    Pinterest:
                </span>
                                </dt>
                                <dd><a href="#">pinterst.com/profile/3234.html</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- End .row -->
            </div>
        </div>
        <!-- End .panel -->

        <div class="panel panel-default plain">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="glyphicon glyphicon-user"></i> Usage</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <div id="customer-exp" class="custom-progressbar blue" style="width:244px;height:244px;">
                        <div class="percent">80<span>%</span>
                        </div>
                        <div class="description">usage</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default plain">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">User stats</h4>
            </div>
            <div class="panel-body">
                <ul class="progressbars-stats list-unstyled">
                    <li>
                        <div class="progressbar-icon"><i class="glyphicon glyphicon-user"></i>
                        </div>
                        <span class="progressbar-text">Profile complete</span>
                        <div class="progress animated-bar flat mt0">
                            <div class="progress-bar" role="progressbar" data-transitiongoal="40"></div>
                        </div>
                    </li>
                    <li>
                        <div class="progressbar-icon"><i class="glyphicon glyphicon-comment"></i>
                        </div>
                        <span class="progressbar-text">Answer to messages</span>
                        <div class="progress animated-bar flat mt0">
                            <div class="progress-bar progress-bar-primary" role="progressbar" data-transitiongoal="83"></div>
                        </div>
                    </li>
                    <li>
                        <div class="progressbar-icon"><i class="glyphicon glyphicon-hdd"></i>
                        </div>
                        <span class="progressbar-text">Space taken</span>
                        <div class="progress animated-bar flat mt0">
                            <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="98"></div>
                        </div>
                    </li>
                    <li>
                        <div class="progressbar-icon"><i class="fa fa-pie-chart"></i>
                        </div>
                        <span class="progressbar-text">Overall</span>
                        <div class="progress animated-bar flat mt0">
                            <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="62"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-4 end here -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- col-lg-4 start here -->
        <div class="tabs mb20">
            <ul id="profileTab" class="nav nav-tabs">
                <li><a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li class="">
                    <a href="#edit-profile" data-toggle="tab">Edit</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="overview">
                    <h5>Activity feed</h5>
                    <ul class="timeline timeline-icons">
                        <li>
                            <p>
                                <a href="#">Jonathan Smith</a> attached new <a href="#">file</a>
                                <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                                <span class="timeline-date">Dec 10, 22:00</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">Jonathan Smith</a> make <a href="#">3 comments</a>
                                <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                                <span class="timeline-date">Dec 8, 13:35</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">Jonathan Smith</a> deposit 300$
                                <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
                                <span class="timeline-date">Dec 6, 10:17</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">Jonathan Smith</a> purchase <a href="#">3 items</a>
                                <span class="timeline-icon"><i class="fa fa-shopping-cart color-red"></i></span>
                                <span class="timeline-date">Dec 5, 04:36</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">1 support </a> request is received from <a href="#">Jonathan Smith</a>
                                <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
                                <span class="timeline-date">Dec 4, 18:40</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">12 settings </a> are changed from <a href="#">Jonathan Smith</a>
                                <span class="timeline-icon"><i class="glyphicon glyphicon-cog"></i></span>
                                <span class="timeline-date">Dec 3, 23:17</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#">Jonathan Smith</a> change your photo
                                <span class="timeline-icon"><i class="l-basic-photo"></i></span>
                                <span class="timeline-date">Dec 2, 05:17</span>
                            </p>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-default timeline-load-more-btn"><i class="fa fa-refresh"></i> Load more </a>
                </div>
                <div class="tab-pane fade pb0" id="edit-profile">
                    <form class="form-horizontal group-border stripped" role="form">
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="">First Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="firstname" name="firstname">
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="">Last Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="lastname" name="lastname">
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="">Adress</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="">Company</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="company" name="company">
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="">Info for you</label>
                            <div class="col-lg-9">
                                <textarea name="info" id="info" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="">Show to public?</label>
                            <div class="col-lg-9">
                                <div class="checkbox-custom">
                                    <input type="checkbox" id="public-checkbox">
                                    <label for="public-checkbox"></label>
                                </div>
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group form-group-vertical">
                            <label class="col-lg-3 control-label" for="">Change password</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" id="password" name="password">
                                <input type="password" class="form-control" id="password1" name="password1" placeholder="Repeat your password">
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <a href="#" class="btn btn-primary" type="subimt">Make change</a>
                            </div>
                        </div>
                        <!-- End .form-group  -->
                    </form>
                </div>
            </div>
        </div>
        <!-- End .tabs -->
    </div>
    <!-- col-lg-4 end here -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- col-lg-4 start here -->
        <div class="panel panel-default plain">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">User purchase</h4>
            </div>
            <div class="panel-body">
                <div id="user-purchase-chart" style="width: 100%; height:250px;"></div>
                <div class="row">
                    <!-- Start .row -->
                    <div class="mt20 bt"></div>
                    <div class="col-lg-6 text-center">
                        <!-- col-lg-6 start here -->
                        <h5 class="mt20 mb0">Stats by type</h5>
                        <div id="morris-donut" style="width: 100%; height:180px;"></div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-6 text-center">
                        <!-- col-lg-6 start here -->
                        <h5 class="mt20 mb0">Purchase distribution</h5>
                        <div class="canvas-holder mt15">
                            <canvas id="radar-chartjs" height="180"></canvas>
                        </div>
                    </div>
                    <!-- col-lg-6 end here -->
                </div>
                <!-- End .row -->
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-4 end here -->
</div>
