<div class="container learn">
    <div class="row">

        <h3>Standard</h3>
        <p>Enjoy live TV on laptop, phone and TV. Pay only for what you use.</p>
        <em>5p / Hour</em>
        <ol>
            <li>There is no minimum fee.</li>
            <li>Pay for watching by the hour.</li>
            <li>Watch on your laptop, phone and TV simultaneously</li>
        </ol>

        <h3>Light</h3>
        <p>Enjoy live TV on laptop, phone and TV. Use hour-plan flexibility.</p>
        <em>&pound; 6 / month</em>
        <ol>
            <li>Monthly subscription fee.</li>
            <li>Adds 240 watching-hours to your account.</li>
            <li>Pay Monthly with hour-plan flexibility.</li>
            <li>Any watching-hours you haven’t used will roll over to the next month, as long as you’re renewing your subscription</li>
            <li>Watch on your laptop, phone and TV simultaneously</li>
        </ol>

        <h3>Pro</h3>
        <p>Enjoy live TV on laptop, phone or TV.</p>
        <em>&pound; 6 / month</em>
        <ol>
            <li>Monthly subscription fee.</li>
            <li>Unlimited watching time on your laptop, phone or TV.</li>
            <li>Watch live TV at one device at a time</li>
        </ol>

        <h3>Enterprise</h3>
        <p>Enjoy live TV on laptop, phone and TV.</p>
        <em>&pound; 10 / month</em>
        <ol>
            <li>Monthly subscription fee.</li>
            <li>Unlimited watching time on your laptop, phone and TV.</li>
            <li>Watch live TV at three devices at a time</li>
            <li>Watch on your laptop, phone and TV simultaneously</li>
        </ol>
</div>
