<a ng-hide="isActive" ng-href="#{{slug}}" ng-click="clicked(this)">
    <i class="{{icon}}"></i>
    <span class="txt">{{name}}</span>
</a>
<span ng-show="isActive">
    <a class="expand active-state">
        <i class="{{icon}}"></i>
        <span class="txt">{{name}}</span>
    </a>
    <ul class="sub show">
        <li ng-repeat="subItem in subItems">

            <a ng-if="subItem.isActive" class="active" href="#">
                <span class="txt">
                    {{subItem.name}}
                </span>
            </a>
            <a  ng-if="!subItem.isActive" ng-click="subClicked(subItem)" ng-href="#{{slug}}/{{subItem.slug}}">
                <span class="txt">
                    {{subItem.name}}
                </span>
            </a>

        </li>
    </ul>
</span>
