<div class="container learn">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 chromecast">
            <h1>HD TV</h1>
            <span class="color-white brad btn btn-default btn-alt mr5 mb10">Learn </span>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 smart-tv">
            <h1>SMART TV</h1>
            <span class="color-gray-dark brad btn btn-default btn-alt mr5 mb10">Learn </span>
        </div>
    </div>

    <div class="row text-center">
        <h2>Get started in 3 easy steps</h2>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img src="/img/learn/chromecast/01-plug-in.jpg" alt="Plug In" class="img-responsive img-circle">
            <br />
            <h4>PLUG IN</h4>
            <p>Plug Chromecast into your HDTV and power up. Then visit chromecast.com/setup</p>
            <a src="https://support.google.com/chromecast/answer/3212934?hl=en-GB">
                See how to plug in
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img src="/img/learn/chromecast/02-connect.jpg" alt="Connect" class="img-responsive img-circle">
            <br />
            <h4>CONNECT TO WI-FI</h4>
            <p>Connect your phone or tablet to the same Wi-Fi network as your Chromecast</p>
            <a src="https://support.google.com/chromecast/answer/2998456?hl=en-GB">
                See how to set up
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <img src="/img/learn/chromecast/03-enjoy.jpg" alt="Enjoy" class="img-responsive img-circle">
            <br />
            <h4>ENJOY</h4>
            <p>Simply tap the Cast button in a Cast-enabled app and choose a video to play on your TV</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Cast video from your laptop</h3>
            <p>Enjoy photos, videos, music and anything else from your favourite websites on the big screen.</p>
            <ol>
                <li>Open the Chrome browser on your laptop.</li>
                <li>Add the Google Cast extension from the Chrome Web Store.</li>
                <li>Visit any website in Chrome.</li>
                <li>Click the Cast button in the Chrome browser and select your Chromecast.</li>
            </ol>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators dotstyle center">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><a href="#">slide1</a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"><a href="#">slide2</a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"><a href="#">slide3</a>
                    </li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/img/learn/chromecast/how-to/learn-audio-stepscastphone1.jpg" alt="Image1">
                        <div class="carousel-caption">
                            <h4>Seagull</h4>
                            <p>Wonderful seagull in the beach.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/learn/chromecast/how-to/learn-audio-stepscastphone2.jpg" alt="Image2">
                        <div class="carousel-caption">
                            <h4>Pack of Seagulls</h4>
                            <p>Wonderful pack of seagulls in the beach.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/learn/chromecast/how-to/learn-audio-stepscastphone4.jpg" alt="Image3">
                        <div class="carousel-caption">
                            <h4>Stones</h4>
                            <p>Very nice stones in the beach.</p>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>




    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators dotstyle center">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><a href="#">slide1</a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"><a href="#">slide2</a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"><a href="#">slide3</a>
                    </li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/img/learn/chromecast/how-to/tv-tour-replacement.png" alt="Image2">
                        <div class="carousel-caption">
                            <h4>Seagull</h4>
                            <p>Wonderful seagull in the beach.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/img/learn/chromecast/how-to/smart-matrix-04-backdrop.jpg" alt="Image3">
                        <div class="carousel-caption">
                            <h4>Stones</h4>
                            <p>Very nice stones in the beach.</p>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Cast video from your phone</h3>
            <p>Enjoy your favourite apps and entertainment on the big screen.</p>
            <ol>
                <li>Open a Cast-enabled app, like YouTube, on your phone.</li>
                <li>Find a video to play..</li>
                <li>Tap the Cast button and select your Chromecast.</li>
                <li>Play, pause and adjust the volume, right from your phone.</li>
            </ol>
        </div>

    </div>
</div>
