<div class="container">
    <div class="row">
    <div class="pull-left">
        <span ng-repeat="channel in vm.channels.channels track by $index">
            <a href ng-show="vm.channels.isActive(channel)" class="btn btn-primary btn-sm" ng-click="vm.setChannel(channel)">{{channel}}</a>
            <a href ng-hide="vm.channels.isActive(channel)" class="btn btn-default btn-sm" ng-click="vm.setChannel(channel)">{{channel}}</a>
        </span>
    </div>

    <div class="pull-right">
        <span ng-repeat="(name, level) in vm.levels.levels">
            <a href ng-show="vm.levels.isActive(level)" class="btn btn-primary btn-sm" ng-click="vm.setLevel(level)">{{name}}</a>
            <a href ng-hide="vm.levels.isActive(level)" class="btn btn-default btn-sm" ng-click="vm.setLevel(level)">{{name}}</a>
        </span>
    </div>
    </div>
</div>
    <div class="row">
        <h2>Logs</h2>
        <div ng-repeat="log in vm.logs | orderBy:'-' track by $index">
            <i>-{{log.elapsed}}</i>
            <em ng-click="log.contextShow=true">{{log.channel}}: </em>
            <span style="color: {{log.color}}">{{log.message}}</span>
            <span ng-if="log.isContext()">...</span>
            <div ng-show="log.contextShow" class="ng-hide" ng-click="log.contextShow=false">
                <pre ng-repeat="context in log.context" style="white-space: pre-line">
                    {{context}}
                </pre>
            </div>
        </div>
    </div>

