<div class="add-data">
    <span ng-if="metadata.parentId">
        <a href="" ng-click="load(metadata.parentId)">up</a>
    </span>
    <ul>
        <li ng-repeat="item in vm.items">
            <library-item> ng-attr-item-id="{{vm.objectId}}" ng-close="more()"></library-item>
            <item-info></item-info>
            <epg-container ng-attr-channel="tvn"></epg-container>
        <li>
    </ul>
</div>

