<div class="jumbotron">
  <h2 ng-if="!isAuthenticated" class="text-center">Home</h2>
  <div class="text-center" ng-if="isAuthenticated">
    <h2>Welcome, {{ profile.nickname }}</h2>
    <img style="width:100px" ng-src="{{ profile.picture }}">
  </div>
</div>
