<!-- .page-sidebar -->
<aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start .sidebar-scrollarea -->
        <div class="sidebar-scrollarea">

            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Profile</h5>
            </div>

            <div ng-include="'views/sidebar/profile.html'"></div>

            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Navigation</h5>
            </div>

            <div ng-include="'views/sidebar/navigation.html'"></div>

            <div ng-include="'views/sidebar/server-stats.html'"></div>

        </div>
        <!-- End .sidebar-scrollarea -->
    </div>
    <!-- End .sidebar-inner -->
</aside>
<!-- / page-sidebar -->
