<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>Movie Dashboard</h2>
        <span class="txt"></span>
    </div>
    <div class="header-stats">

        <div class="spark clearfix">
        <div class="row">
            <div class="col-md-6">
                <img src="/img/thumb/cmx2.png">
            </div>
            <div class="col-md-6">
                <img src="/img/thumb/hbo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="/img/thumb/tlc.png">
            </div>
            <div class="col-md-6">
                <img src="/img/thumb/hbo2.png">
            </div>
        </div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
        </div>
    </div>
</div>

 <p><a href class="btn btn-default btn-lg " ng-click="vm.showComplex()">Show Complex</a></p>
 <p><a href class="btn btn-default btn-lg " ng-click="vm.showRegister()">Register</a></p>

<!-- NOW -->
<div class="row">
    <!-- <now-widget channels="vm.channels" schedules="vm.schedules" watch="vm.watch"></now-widget> -->
    <div ng-repeat="(key, channel) in vm.channels">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div now-block channel="channel" schedule="vm.schedules[key]" ng-click="vm.watch(key)" class="panel {{vm.colors[key]}} tile panelClose panelRefresh">
            </div>
        </div>
    </div>
</div>
<!-- /NOW -->

<div class="row">
    <!-- DESCRIPTION -->
    <div class="col-lg-6 col-md-6 sortable-layout">
        <div class="tabs mb20">
            <ul id="myTab" class="nav nav-tabs">
                <li ng-repeat="(key, channel) in vm.channels">
                    <a href="" ng-click="vm.loadDescription(key)" data-toggle="tab">{{channel.name}}</a>
                </li>
            </ul>
            <div id="myTabContent2" class="tab-content">
                <div class="tab-pane fade active in" id="home1">
                    <h4>{{vm.description.namePl}}</h4>
                    <p>
                        {{vm.description.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /DESCRIPTION -->


    <!-- TIMELINE -->
    <div class="col-lg-6 col-md-6 sortable-layout">
        <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Next</h4>
            </div>
            <div class="panel-body">
                <ul class="timeline timeline-icons">
                    <li ng-repeat="(key, schedule) in vm.timeline | orderBy:'startTime'">
                        <p>
                            <i class="timeline-till-start">{{schedule.tillMinutes}} min</i>
                            <a href="#">{{schedule.namePl}}</a> on <a href="#">{{schedule.channelName}}</a>
                            <span class="timeline-icon"><i class="fa {{schedule.itemType}}"></i></span>
                            <span class="timeline-date">
                                {{schedule.startTime | date:"HH:mm"}} - {{schedule.endTime | date:"HH:mm"}}
                            </span>
                        </p>
                    </li>
                </ul>
                <a href="" ng-click="load()" class="btn btn-default timeline-load-more-btn">
                    <i class="fa fa-refresh"></i>
                    Load more
                </a>
            </div>
        </div>
    </div>
    <!-- /TIMELINE -->
</div>

