
<!-- Start .page-content-inner -->
<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>Portlets</h2>
        <span class="txt">Draggable panel components and more</span>
    </div>
    <div class="header-stats">
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">2345</span>Visitors</div>
            <div id="spark-visitors" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">17345</span>Views</div>
            <div id="spark-templateviews" class="sparkline"></div>
        </div>
        <div class="spark clearfix">
            <div class="spark-info"><span class="number">3700$</span>Sales</div>
            <div id="spark-sales" class="sparkline"></div>
        </div>
    </div>
</div>
<!-- Start .row -->
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-default panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="glyphicon glyphicon-th-large"></i> Panel default</h4>
            </div>
            <div class="panel-body">
                <code>.panel-default</code>
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-primary panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Panel primary</h4>
            </div>
            <div class="panel-body">
                <code>.panel-primary</code>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-success panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="l-basic-star"></i> Panel success</h4>
            </div>
            <div class="panel-body">
                <code>.panel-success</code>
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-info panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Panel info</h4>
            </div>
            <div class="panel-body">
                <code>.panel-info</code>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-warning panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-comments"></i> Panel warning</h4>
            </div>
            <div class="panel-body">
                <code>.panel-warning</code>
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-danger panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Panel danger</h4>
            </div>
            <div class="panel-body">
                <code>.panel-danger</code>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
</div>
<!-- End .row -->
<div class="row">
    <!-- Start .row -->
    <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="page-header">
            <h4>Plain variations</h4>
        </div>
    </div>
    <!-- col-lg-12 end here -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-default plain panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Plain panel</h4>
            </div>
            <div class="panel-body">
                <code>.panel-default plain</code>
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-primary plain panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Plain primary panel</h4>
            </div>
            <div class="panel-body">
                <code>.panel-primary plain</code>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-success plain panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Plain success panel</h4>
            </div>
            <div class="panel-body">
                <code>.panel-success plain</code>
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-info plain panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Plain info panel</h4>
            </div>
            <div class="panel-body">
                <code>.panel-info plain</code>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-warning plain panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Plain warning panel</h4>
            </div>
            <div class="panel-body">
                <code>.panel-warning plain</code>
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-danger plain panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Plain danger panel</h4>
            </div>
            <div class="panel-body">
                <code>.panel-danger plain</code>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
</div>
<!-- End .row -->
<div class="row">
    <!-- Start .row -->
    <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="page-header">
            <h4>Panel with footer</h4>
        </div>
    </div>
    <!-- col-lg-12 end here -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-default panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-body">
                <code>.panel-default</code>
            </div>
            <div class="panel-footer">
                Panel default
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-primary panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-body">
                <code>.panel-primary</code>
            </div>
            <div class="panel-footer">
                Panel primary
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-success panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-body">
                <code>.panel-success</code>
            </div>
            <div class="panel-footer">
                Panel success
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-info panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-body">
                <code>.panel-info</code>
            </div>
            <div class="panel-footer">
                Panel info
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-warning panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-body">
                <code>.panel-warning</code>
            </div>
            <div class="panel-footer">
                Panel warning
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-danger panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-body">
                <code>.panel-danger</code>
            </div>
            <div class="panel-footer">
                Panel danger
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
</div>
<!-- End .row -->
<div class="row">
    <div class="col-lg-12">
        <!-- col-lg-12 start here -->
        <div class="page-header">
            <h4>Other Variants</h4>
        </div>
    </div>
    <!-- col-lg-12 end here -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-default panelMove toggle panelRefresh panelClose panel-closed">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Closed by default</h4>
            </div>
            <div class="panel-body">
                <code>.panel-default .panel-closed</code>
            </div>
        </div>
        <!-- End .panel -->
        <div class="panel panel-default panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-cog"></i> Horizontal scroll</h4>
            </div>
            <div class="panel-body">
                <div class="scroll-horizontal">
                    <p style="width:2000px;">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quo facilis magni consequuntur iusto reprehenderit impedit inventore expedita dolorum dolore. Consectetur, debitis, accusamus quae omnis aliquid iure beatae nihil esse consequuntur tenetur
                        error blanditiis vero nam aliquam sapiente molestiae iste animi. Voluptatem, molestiae, labore adipisci delectus doloremque sequi laborum cupiditate aut ullam id dolore dolor esse architecto magni a nam
                        incidunt vero rerum voluptate natus deserunt aperiam provident non nostrum saepe expedita perferendis beatae. Ut, placeat, nostrum, dolor veritatis eaque cum assumenda voluptatibus distinctio eum laborum
                        accusantium nobis nam repudiandae animi perspiciatis delectus recusandae labore tempore provident quia ullam aspernatur voluptates excepturi ad quidem! Blanditiis, minus repellendus magnam reprehenderit
                        laboriosam possimus enim dolorum eos debitis iste. Ipsum, explicabo, earum corporis nisi quaerat omnis cupiditate magni error totam accusantium natus numquam quam amet cumque rem voluptatibus atque sapiente
                        beatae doloremque facere? Qui, voluptate suscipit ipsum aperiam enim quae a cumque quas excepturi illum hic ex. Neque, quae officia veritatis iure consequuntur ipsa magnam repudiandae dignissimos architecto
                        rerum quis ad adipisci. Officia, rerum, omnis ab beatae praesentium placeat temporibus quaerat aut porro ratione? Dolores, molestias, libero, officiis deleniti impedit explicabo quis consectetur modi reprehenderit
                        ullam fugit aliquid. Iusto incidunt minima optio neque.
                    </p>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-default panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-cog"></i> With icon in title</h4>
            </div>
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque blanditiis nobis, fugit cum nesciunt obcaecati illo autem odit libero ipsa deserunt amet dolorum provident doloremque suscipit dicta maxime ut officiis. Officia, rerum, omnis ab beatae praesentium
                placeat temporibus quaerat aut porro ratione? Dolores, molestias, libero, officiis deleniti impedit explicabo quis consectetur modi reprehenderit ullam fugit aliquid. Iusto incidunt minima optio neque. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Neque blanditiis nobis, fugit cum nesciunt obcaecati illo autem odit libero ipsa deserunt amet dolorum provident doloremque suscipit dicta maxime ut officiis.
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sortable-layout">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-default panelMove toggle panelRefresh panelClose">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Vertical scroll</h4>
            </div>
            <div class="panel-body">
                <div class="scroll" data-height="170">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quo facilis magni consequuntur iusto reprehenderit impedit inventore expedita dolorum dolore. Consectetur, debitis, accusamus quae omnis aliquid iure beatae nihil esse consequuntur tenetur
                    error blanditiis vero nam aliquam sapiente molestiae iste animi. Voluptatem, molestiae, labore adipisci delectus doloremque sequi laborum cupiditate aut ullam id dolore dolor esse architecto magni a nam incidunt
                    vero rerum voluptate natus deserunt aperiam provident non nostrum saepe expedita perferendis beatae. Ut, placeat, nostrum, dolor veritatis eaque cum assumenda voluptatibus distinctio eum laborum accusantium
                    nobis nam repudiandae animi perspiciatis delectus recusandae labore tempore provident quia ullam aspernatur voluptates excepturi ad quidem! Blanditiis, minus repellendus magnam reprehenderit laboriosam possimus
                    enim dolorum eos debitis iste. Ipsum, explicabo, earum corporis nisi quaerat omnis cupiditate magni error totam accusantium natus numquam quam amet cumque rem voluptatibus atque sapiente beatae doloremque facere?
                    Qui, voluptate suscipit ipsum aperiam enim quae a cumque quas excepturi illum hic ex. Neque, quae officia veritatis iure consequuntur ipsa magnam repudiandae dignissimos architecto rerum quis ad adipisci. Officia,
                    rerum, omnis ab beatae praesentium placeat temporibus quaerat aut porro ratione? Dolores, molestias, libero, officiis deleniti impedit explicabo quis consectetur modi reprehenderit ullam fugit aliquid. Iusto
                    incidunt minima optio neque.
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- End col-lg-3 -->
</div>
